<div class="container-fluid" style="background-color: #fff; ">
    <nav class="nav">
        <div class="img">
            <img src="../../assets/facebook-logo.png" width="50px">
            
            <input type="search" placeholder="Search here"><i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="options">
            <ul><a href="#"><i class="fa-solid fa-house"></i></a></ul>
            <ul><a href="#"><i class="fa-regular fa-user"></i></a></ul>
            <ul><a href="#"><i class="fa-solid fa-tv"></i></a></ul>
            <ul><a href="#"><i class="fa-regular fa-bell"></i></a></ul>
            <ul><a href="#"><i class="fa-solid fa-gamepad"></i></a></ul>
            <!-- <ul><a href="#">profile</a></ul> -->
        </div>

        <div class="logos">
            <div>
                <i class="fa-solid fa-bars"></i>
            </div>
            <div>
                <i class="fa-brands fa-facebook-messenger"></i>
            </div>
            <div>
                <i class="fa-thin fa-circle"></i>
            </div>

            <!-- <ul><a href="#">menu</a></ul>
        <ul><a href="#">msg</a></ul>
        <ul><a href="#">notify</a></ul>
        <ul><a href="#">profile</a></ul> -->
        </div>
    </nav>
</div>

<div class="main">
    <div class="one">

        <div class="side">
            <div class="logoOne">
                <i class="fa-solid fa-house"></i>
            </div>
            <div class="textOne">
                <span>Profile Name</span>
            </div>
        </div>

        <div class="side">
            <div class="logoOne">
                <i class="fa-solid fa-cart-plus"></i>
            </div>
            <div class="textOne">
                <span>Market place</span>
            </div>
        </div>

        <div class="side">
            <div class="logoOne">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <div class="textOne">
                <span>Friends</span>
            </div>
        </div>

        <div class="side">
            <div class="logoOne">
                <i class="fa-solid fa-square-plus"></i>
            </div>
            <div class="textOne">
                <span>Most Recent</span>
            </div>
        </div>

        <div class="side">
            <div class="logoOne">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <div class="textOne">
                <span>Groups</span>
            </div>
        </div>

        <div class="side">
            <div class="logoOne">
                <i class="fa-solid fa-tv"></i>
            </div>
            <div class="textOne">
                <span>Watch</span>
            </div>
        </div>

        <!-- <nav class="nav2">
            <ul><a href="#"><i class="fa-solid fa-house"></i> Profile Name</a></ul>
            <ul><a href="#"><i class="fa-solid fa-house"></i>Friends</a></ul>
            <ul><a href="#"><i class="fa-solid fa-house"></i> Most Recent</a></ul>
            <ul><a href="#"><i class="fa-solid fa-house"></i> Groups</a></ul>
            <ul><a href="#"><i class="fa-solid fa-house"></i> Watch</a></ul>
        </nav> -->
    </div>
    <div class="two">
        <div class="container">
              <div class="s">
                <div class="side2">
                    <div class="logoTwo">
                        <i class="fa-solid fa-store"></i>
                    </div>
                    <div class="textTwo">
                        <span>Stories</span>
                    </div>
                </div>

                <div class="side2">
                    <div class="logoTwo">
                        <i class="fa-regular fa-window-restore"></i>
                    </div>
                    <div class="textTwo">
                        <span>Reels</span>
                    </div>
                </div>
                </div>


                <div class="reels">
                    
                    <div class="reel1"><img src="../../assets/remove-bg.webp " alt=""></div>
                    <div class="reel1"><img src="../../assets/pexels-pixabay-268533.jpg" alt=""></div>
                    <div class="reel1"><img src="../../assets/men.jpg" alt=""></div>
                    <div class="reel1"><img src="../../assets/power_girl.png" alt=""></div>
                </div>
        </div>

        <!-- <div class="reelsPlay">
            <div class="reels">
uygg
            </div>
            <div class="reels">
         nbk       
            </div>
        </div> -->
   </div>

    <div class="three">
        <div class="flex">
            <div class="opts">
                <span>Contacts</span>
              </div>
      
              <div class="menus">
                  <i class="fa-solid fa-video"></i>
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <i class="fa-solid fa-ellipsis"></i>
              </div>
        </div>

        <div class="flex2">
            <div class="imgs">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="names">
                <p>Jessy The Grey</p>
            </div>
        </div>

        <div class="flex2">
            <div class="imgs">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="names">
                <p>Xyaa Golden Retriver</p>
            </div>
        </div>

        <div class="flex2">
            <div class="imgs">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="names">
                <p>Amazon Spider Man</p>
            </div>
        </div>

        <div class="flex2">
            <div class="imgs">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="names">
                <p>Virat Kohli</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="opts">
          <span>Contacts</span>
        </div>

        <div class="menus">
            <i class="fa-solid fa-video"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-ellipsis"></i>
        </div>

        <div class="one">
            <div class="detail">
                <div class="img">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="name">
                    <h5>Jessy</h5>
                </div>
            </div>
        </div> -->